{% extends "theme::layouts/default" %}

{% block content %}
    <div class="inner">

        {% include "anomaly.module.files::admin/browser/partials/folder" %}
        {% include "anomaly.module.files::admin/browser/partials/uploader" %}

        {{ content|raw }}

    </div>
{% endblock %}
