<section class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">logo.png</h3>
    </div>

    <div class="panel-body">

        <a href="http://docs.pyrocms.com/3.0/manual/assets/img/logo.png" class="thumbnail" target="_blank">
            <img src="http://docs.pyrocms.com/3.0/manual/assets/img/logo.png">
        </a>

        <p>
            <a href="#download" class="btn btn-sm btn-success btn-block">
                {{ icon('download')|raw }}
                Download
            </a>

            <a href="#preview" class="btn btn-sm btn-info btn-block">
                {{ icon('eye')|raw }}
                Preview
            </a>

            <a href="#share" class="btn btn-sm btn-warning btn-block">
                {{ icon('share')|raw }}
                Share
            </a>
        </p>

        <p>
            <strong>Size:</strong> 146.78 KB
        </p>

        <p>
            <strong>Dimensions:</strong> W 640 px / H 480 px
        </p>

        <p>
            <strong>Last Modified:</strong> March 5th, 2015
        </p>

    </div>

</section>