<script type="text/javascript">
    Dropzone.options.uploader = {
        paramName: 'file',
        dictDefaultMessage: '{{ icon('upload') }}&nbsp;&nbsp;{{ trans('anomaly.module.files::uploader.instructions') }}'
    };
</script>

<div class="container-fluid hidden">

    <form action="/file-upload" id="uploader" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>
    </form>

</div>
