{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
    <div class="inner container-fluid">

        <div class="panel">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-5">

                        <ul class="nav nav-list" style="padding: 0;">
                            {% for disk in disks %}

                                {% if not loop.first %}
                                    <li class="divider"></li>
                                {% endif %}

                                <li>
                                    <label class="nav-header">
                                        <a href="{{ url('admin/files/test') }}">
                                            <i class="fa fa-hdd-o"></i>
                                            {{ disk.name }}
                                        </a>
                                    </label>
                                    <ul class="nav nav-list">
                                        {% for folder in disk.folders %}
                                            <li>
                                                <a href="{{ url('admin/files/test#' ~ disk.slug ~ '--' ~ folder.path()) }}">
                                                    <i class="fa fa-caret-right"></i>
                                                    {{ folder.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {#<li><a href="#"><i class="tree-toggle fa fa-caret-square-o-right"></i> Bootstrap</a>
                                <ul class="nav nav-list">
                                    <li><a href="#">JavaScript</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><label class="tree-toggle nav-header">Buttons</label>
                                        <ul class="nav nav-list">
                                            <li><a href="#">Colors</a></li>
                                            <li><a href="#">Sizes</a></li>
                                            <li><label class="tree-toggle nav-header">Forms</label>
                                                <ul class="nav nav-list">
                                                    <li><a href="#">Horizontal</a></li>
                                                    <li><a href="#">Vertical</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>#}

                            {#<li>&#123;&#35;<label class="tree-toggle nav-header">Responsive</label>&#35;&#125;
                                <ul class="nav nav-list">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li>&#123;&#35;<label class="tree-toggle nav-header">Media Queries</label>&#35;&#125;
                                        <ul class="nav nav-list">
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Images</a></li>
                                            <li>&#123;&#35;<label class="tree-toggle nav-header">Mobile Devices</label>&#35;&#125;
                                                <ul class="nav nav-list">
                                                    <li><a href="#">iPhone</a></li>
                                                    <li><a href="#">Samsung</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    &#123;&#35;<li><label class="tree-toggle nav-header">Coding</label>
                                        <ul class="nav nav-list">
                                            <li><a href="#">JavaScript</a></li>
                                            <li><a href="#">jQuery</a></li>
                                            <li><label class="tree-toggle nav-header">HTML DOM</label>
                                                <ul class="nav nav-list">
                                                    <li><a href="#">DOM Elements</a></li>
                                                    <li><a href="#">Recursive</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>&#35;&#125;
                                </ul>
                            </li>#}
                        </ul>
                        <script type="text/javascript">
                            $('.fa-caret-right').click(function (e) {
                                e.preventDefault();
                                alert();
                                $(this).closest('li').children('ul').toggle(200);
                            });
                        </script>
                    </div>

                    <div class="col-md-19">
                        Main
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
