<div class="panel">
    <div class="panel-heading">

        <h4 class="title">
            {{ folder.name }}

            {% if folder.description %}
                <small>{{ folder.description }}</small>
            {% endif %}

            <br>

            <span class="label label-info">Max: {{ max_upload_size() }}MB</span>

            {% if folder.allowed_types.value %}
                {{ folder.allowed_types.labels|raw }}
            {% endif %}
        </h4>

    </div>
</div>
